*{
	margin: 0;
	padding: 0;
}

.banner{
	background-image: url(https://cloud.githubusercontent.com/assets/15823324/12535245/a6dfe8f6-c231-11e5-908b-c2188596b736.jpg);
	background-size: cover;
	background-attachment: fixed;
	position: center;
	display: block;
}

ul {
	padding: 20px;
	list-style: none;
	text-align: right;
}

ul > li{
	display: inline-block;
	padding: 0 25px 0 25px;
	font-size: 15px;
	font-weight: normal;
	font-family: "Arial", serif;
}

ul > li > a{
	text-decoration: none;
	color: white;
}

ul > li > a:hover{
	color: black;
}

.header {
	padding: 290px;
	font-family: "Arial", serif;
	font-size: 75px;
	font-weight: bold;
	color: white;
	text-align: center;
	text-transform: uppercase;

}

.info{
	padding-top: 30px;
	padding-bottom: 30px;
}

.description3{
	font-family: "Arial", serif;
	font-size: 15px;
	text-align: justify;
	margin: 0 auto;
	width: 40em;
	padding-bottom: 10px;
}


.footer{
	background-color: black;
	padding: 25px;

}

.listfoot{
	position: bottom;
	padding: 10px;
	list-style: none;
	text-align: center;
}

.listfoot > .lifo{
	display: inline-block;
	padding: 0 25px 0 25px;
	font-size: 17px;
	font-weight: normal;
	font-family: "Arial", serif;
}

.listfoot > .lifo > .linkfo{
	text-decoration: none;
	color: white;
}

.listfoot > .lifo > .linkfo:hover{
	text-decoration: underline;
}







